<div class="col-lg-8 m-auto">
    <div class="jumbotron">
            <h1>{{title}}</h1>
            <p>Disfruta de las publicaciones de tus amigos y comparte tu vida!</p>
            <p>
                <a 
                    [routerLink]="['/timeline']" 
                    class="btn btn-success btn-lg" 
                    role="button">Timeline
                </a>

                <a 
                    [routerLink]="['/perfil']" 
                    class="btn btn-primary btn-lg" 
                    role="button">Tu perfíl
                </a>
            </p>
    </div>
</div>