/* Generales */

.customStatsComponent {
    display: none;
}

.customStatsComponent .visible {
    display: block;
}

body {
    background-image: url('background');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}


/* NAVBAR */

.navigation {
    padding: 0px !important;
    border-radius: 0px !important;
}

.navigation .navbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.navigation .navbar li {
    margin-left: 5px;
}

.navigation .navbar li *,
.navigation .navbar .navbar-brand {
    color: black !important;
}

.navigation .navbar li a:hover,
.navigation .navbar li a:hover * {
    background-color: rgb(74, 91, 202) !important;
    color: white !important;
}

.navigation .navbar * {
    color: white !important;
}

.navigation .navbar .dropdown {
    right: 0px !important;
}

.navigation .navbar .dropdown-menu * {
    color: black !important;
}

.navigation .navbar .dropdown-menu a:hover,
.navigation .navbar .dropdown-menu a:hover * {
    background-color: rgb(74, 91, 202) !important;
    color: white !important;
}

.pointer {
    cursor: pointer;
}

.navigation .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 3px;
    margin-right: 2px;
}

.navigation .avatar img {
    height: 40px;
    width: 40px;
    widows: 38px;
}


/* CUSTOM FIXED BUTTONS */

.statsCustomButton {
    display: block;
    text-align: center;
    padding-top: 10px !important;
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    color: white;
    background-color: rgb(74, 91, 202);
    border-color: rgb(74, 91, 202);
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 10000;
}

.statsCustomButton:hover {
    cursor: pointer;
}


/* STATS */

.modal-body .avatar img {
    width: 300px;
    height: 300px;
}

.stats-head {
    font-size: 1.4rem !important;
}

.stats-info .following-data {
    margin-top: 10px;
    border-bottom: 1px solid rgb(167, 187, 253);
}


/* PUBLICATIONS */

.publicationsCustomButton {
    display: block;
    text-align: center;
    padding-top: 10px !important;
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    color: black;
    background-color: rgb(55, 212, 89);
    border-color: rgb(55, 212, 89);
    position: fixed;
    right: 115px;
    bottom: 60px;
    z-index: 10000;
}


/* HOME */

.customHomeContainer {
    background-color: rgba(255, 255, 255, 0.5);
}

.jumbotron {
    background-color: transparent !important;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.jumbotron a {
    margin-left: 25px;
}


/* REGISTER */

.registerCustomContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.editRegisterForm label {
    font-weight: bold;
}


/* LOGIN */

.customLoginContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.loginCustomForm label {
    font-weight: bold;
}


/* USER EDIT */

.userEditCustomContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.editUserCustomForm label {
    font-weight: bold;
}


/* GENTE */

.customUserContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.item-user .image-user {
    overflow: hidden;
    height: 250px;
}


/* TIMELINE */

.customTimelineContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.customPublicationContainer .card {
    background-color: rgba(0, 0, 0, 0.65) !important;
    color: white !important;
    border: 1.2px solid rgb(167, 187, 253);
}

.customPublicationContainer .card-body {
    padding-top: 5px !important;
    padding-left: 10px !important;
}

.customPublicationContainer .pub-image-user {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.customPublicationContainer .pub-text {
    border-top: 1px solid rgb(167, 187, 253);
    padding-top: 20px;
}